<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Moviebrary</a>
    <ul>
      <li><a href="/authors">Users</a></li>
      <li><a href="/authors/new">Add User</a></li>
      <li><a href="/books">Movies</a></li>
      <li><a href="/books/new">Add Movies</a></li>
    </ul>
  </nav>
</header>